%ubuntu-normal {
    font-family: 'Ubuntu';
    font-weight: 400;
}

%ubuntu-medium {
    font-family: 'Ubuntu';
    font-weight: 500;
}

%ubuntu-lite {
    font-family: 'Ubuntu';
    font-weight: 300;
}

%ubuntu-bold {
    font-family: 'Ubuntu';
    font-weight: 700;
}